tr{
	
    width: 20px;
    height: 20px;
}

td{
	border-right: solid black 2px;
	border-bottom: solid black 2px;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    cursor: pointer;

}

	td:hover{
		background-color: white;
	}

table{
	width: 250px;
	border-collapse: collapse;
	height: 250px;
	background-color: grey;}




.endgame{
	display: none;
}